<button class="upload-btn" (click)="stuff()">click</button>

<div *ngIf="status !== null">
    Stuats: <pre>{{ status }}</pre>
</div>
<!-- <div *ngIf="percent !== null">
    Progress: {{ percent }}%
    <br>
    Time Remaining: {{ hour }}:{{ minute }}
    <br>
</div>

<div *ngIf="output !== null">
    Output: <pre>{{ output }}</pre>
</div>

<div *ngIf="finished == true">
    <p>finished</p>
</div> -->

<div *ngIf="output !== null">
    Output: <pre>{{ output }}</pre>
</div>
